
html, body {
  margin: 0px;
  padding: 0px;
}

.container {
  section {
    padding: 4px 8px;
  }
  button, .button {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 4px;
    margin-bottom: 2px;
    background: white;
    border: 1px solid gray;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
      background: #ccc;
    }
  }

  .form {
    font-size: 14px;
    line-height: 18px;
    .form-item {
      display: flex;
      margin-bottom: 8px;
      &-label {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        width: 120px;
        text-align: right;
        padding: 0px 12px 0px 0px;
        // color: #FF4560;
        color: #67C23A;
      }
      &-content {
        flex: 1;
      }
    }
  }

  form.form_login, form.form_setting {
    font-size: 12px;
    color: black;
    .form-item {
      display: flex;
      margin-bottom: 10px;
      input[type="file"], input[type="submit"], input[type="reset"] {
      }
      input[type="text"], textarea {
        font-size: 14px;
        line-height: 16px;
        background-color: rgba(255, 255, 255, .5);
        width: 100%;
        box-sizing: border-box;
        padding: 2px;
      }
      .label {
        width: 220px;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        // font-weight: bold;
        color: black;
        box-sizing: border-box;
        padding-right: 10px;
      }
      .content {
        flex: 1;
        box-sizing: border-box;
      }
      &.title {
        display: block;
        font-size: 16px;
        text-align: center;
        margin-bottom: 16px;
        font-weight: bold;
      }
      &.footer {
        display: flex;
        .item {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
  section.assist {
    margin-top: 20px;
    form.form_login {
      margin: 0px auto;
      width: 300px;
      .label {
        width: 100px;
      }
    }
  }

  section.options_setting {
    width: 500px;
    margin: 20px auto;
    font-size: 12px;
    color: black;
  }
}