html, body {
  margin: 0px;
  padding: 0px; }

.container section {
  padding: 4px 8px; }

.container button, .container .button {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 4px;
  margin-bottom: 2px;
  background: white;
  border: 1px solid gray;
  border-radius: 4px; }
  .container button:hover, .container .button:hover {
    cursor: pointer;
    background: #ccc; }

.container .form {
  font-size: 14px;
  line-height: 18px; }
  .container .form .form-item {
    display: flex;
    margin-bottom: 8px; }
    .container .form .form-item-label {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      width: 120px;
      text-align: right;
      padding: 0px 12px 0px 0px;
      color: #67C23A; }
    .container .form .form-item-content {
      flex: 1; }

.container section.options_setting {
  width: 600px;
  margin: 0px auto;
  font-size: 12px;
  color: black; }
  .container section.options_setting form.the-form .form-item {
    display: flex;
    margin-bottom: 10px; }
    .container section.options_setting form.the-form .form-item input[type="text"], .container section.options_setting form.the-form .form-item textarea {
      font-size: 14px;
      line-height: 16px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      box-sizing: border-box;
      padding: 2px; }
    .container section.options_setting form.the-form .form-item .label {
      width: 220px;
      font-size: 14px;
      line-height: 22px;
      text-align: right;
      font-weight: bold;
      color: black;
      box-sizing: border-box;
      padding-right: 10px; }
    .container section.options_setting form.the-form .form-item .content {
      flex: 1;
      box-sizing: border-box; }
    .container section.options_setting form.the-form .form-item.title {
      display: block;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      margin-bottom: 18px; }
    .container section.options_setting form.the-form .form-item.footer {
      display: flex; }
      .container section.options_setting form.the-form .form-item.footer .item {
        flex: 1;
        text-align: center; }
